
[submodule "home/texmf/tex/latex/TeX-templates"]
	path = home/texmf/tex/latex/TeX-templates
	url = https://github.com/sjijon/TeX-templates.git
[submodule "home/.mozilla/firefox/arkenfox/arkenfox-upstream"]
	path = home/.mozilla/firefox/arkenfox/arkenfox-upstream
	url = https://github.com/arkenfox/user.js.git
